#intelliJ
/.idea
*.iml

#front
front/.nyc_output
front/node_modules
front/package-lock.json
front/public/build

#eureka
eureka/.gradle
eureka/build

#zuul
zuul/.gradle
zuul/build

#auth
auth/.gradle
auth/build