@import 'src/common/css/variable';

@mixin bgmStyle{
  width:30px;
  height:30px;
  background-size : cover;
  border-radius:50%;
}

.gameWrap{
  position:relative;
  display: flex;
  justify-content: center;

  border: 6px solid darkslateblue;
  background:#000000;

  color : #ffffff;

  .gameList{
    width: 220px;

    border-right: 6px solid darkslateblue;

    > li {
      padding: 8px;
    }
  }

  .score{
    width: 220px;
    border-left: 6px solid darkslateblue;

    .currentScore{
      border-bottom: 6px solid darkslateblue;
      padding : 20px;
      text-align: center;
    }

    .rank{
      > li {
        padding: 8px;
      }
    }
  }
  .game{
    width:800px;
    min-height:600px;

    box-sizing: content-box;

    display: flex;
    justify-content: center;
  }

  .bgm {
    position: absolute;
    bottom : 10px;
    left : 10px;
    width: 150px;
    height:30px;

    display: flex;

    text-align: center;
    align-items: center;
    .bgmMute{
      @include bgmStyle;
      background : url("/img/play.png") #ffffff center no-repeat;
    }
    .bgmPlay{
      @include bgmStyle;
      background : url("/img/mute.png") #ffffff center no-repeat;
    }
    .volumeWrap{
      display: inline-block;
      width:100px;
      height: 15px;
      .volume{
        color:#ffffff;
        margin: 0 10px;
      }
    }
  }
}