@import 'src/common/css/variable';

.gameWrap{
  display: flex;
  justify-content: center;

  border: 6px solid darkslateblue;
  background:#000000;

  color : #ffffff;

  .gameList{
    width: 220px;

    border-right: 6px solid darkslateblue;

    > li {
      padding: 8px;
    }
  }

  .rank{
    width: 220px;
    border-left: 6px solid darkslateblue;

    > li {
      padding: 8px;
    }
  }
  .game{
    width:800px;
    height:600px;

    box-sizing: content-box;

    display: flex;
    justify-content: center;
  }
}