@import 'src/common/css/variable';

.gameWrap{
  display: flex;
  justify-content: center;

  .gameList{
    width:250px;

    background:#000000;
    border: 6px solid darkslateblue;

    > li {
      padding: 8px;
      h3{
        color:white;
      }
    }
  }
  .game{
    box-sizing: content-box;

    width:800px;
    height:600px;
    background:#000000;
    border: 6px solid darkslateblue;
  }

  .noGame{
    box-sizing: content-box;

    color:white;

    width:800px;
    height:600px;
    background:#000000;
    border: 6px solid darkslateblue;
  }
}