@import '$commonCss/variable';


.wrap {
  font-family: 'NotoSanskr_Regular';

  @include wrapCenter;


  .contentContainer{
    height: $CONTAINER_MIN_HEIGHT;
  }

  position: relative;

  &.empty {
    min-width: auto;
  }
}