@import '../../common/css/variable.scss';

/*layout-----------------------------------------------------------------------------------*/
.wrap {
  position: relative;
  min-width: $MIN_WIDTH;

  &.empty {
    min-width: auto;
  }
}

#header {
  padding: 0 60px;
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: $HEADER_HEIGHT;
}

#container {
  position: relative;
  min-height: $CONTAINER_MIN_HEIGHT;
}